---
import { Image } from "astro:assets";
import Tooltip from "../common/tooltip.astro";

const { image, title, description, role, date, current, color } =
  Astro.props as Job;
---

<li class="flex items-center gap-4">
  <div
    class:list={[
      "rounded-full flex items-center justify-center aspect-square p-2",
      color ?? "bg-black",
    ]}
  >
    <Image src={image} alt={title} loading="eager" width={40} height={40} />
  </div>
  <div>
    <div class="flex items-center gap-4">
      <Tooltip text={description} class="-left-0 -translate-x-0">
        <h3 class="font-bold cursor-help">
          {title}
        </h3>
      </Tooltip>
      {
        current && (
          <div class="relative">
            <span class="size-2 bg-green-500 inline-block rounded-full animate-pulse absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
            <span class="size-3 bg-green-500 inline-block rounded-full animate-ping absolute -left-1.5 -top-1.5" />
          </div>
        )
      }
    </div>
    <span class="text-sm text-dimmed">{role} • {date}</span>
  </div>
</li>
