---
import { Image } from "astro:assets";

import H3 from "../common/headings/h3.astro";
import Tooltip from "../common/tooltip.astro";

const { image, title, description, role, date, current, color } = Astro.props;
---

<li class="flex items-center gap-4">
  <div
    class:list={[
      "flex aspect-square items-center justify-center rounded-full p-2",
      color ?? "bg-black"
    ]}
  >
    <Image src={image} alt={title} loading="eager" width={40} height={40} />
  </div>
  <div>
    <div class="flex items-center gap-4">
      <Tooltip text={description} class="-left-0 -translate-x-0">
        <H3 class="cursor-help font-bold">
          {title}
        </H3>
      </Tooltip>
      {
        current && (
          <div class="relative">
            <span class="absolute left-1/2 top-1/2 inline-block size-2 -translate-x-1/2 -translate-y-1/2 animate-pulse rounded-full bg-green-500" />
            <span class="absolute -left-1.5 -top-1.5 inline-block size-3 animate-ping rounded-full bg-green-500" />
          </div>
        )
      }
    </div>
    <span class="text-sm text-dimmed">{role} • {date}</span>
  </div>
</li>
